.ant-layout-sider-trigger {
  border-right: 1px solid #f4f4f4 !important;
}

.report-item-card .ant-card-meta-title {
  margin-bottom: 0 !important;
}

.report-item-card .ant-avatar-circle {
  margin-top: 8px !important;
}

.item-report-description th,
.item-report-description td {
  text-align: center !important;
}

thead th {
  text-align: center !important;
}
